body {
  background-color: #308c8c;
  margin: 0;
  padding: 0;
}

.main-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}

.title {
  flex-direction: column;
  justify-content: center;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  background-color: #BF5471;
  margin: 0;
  padding-bottom: 2rem;
  padding-left: 2.25rem;
}

h1 {
  color: rgb(227, 227, 227);
  padding-top: 2rem;
}

p {
  font-size: 3rem;
  color: rgb(227, 227, 227);
}

button {
  background-color: #BF5471;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0rem .1rem .3rem black;
  color: rgb(227, 227, 227);
  transition-duration: 0.4s;
  border: none;
}
button:hover {
  background-color: #304F8C;
  box-shadow: 0rem .3rem .9rem black;
}

button:active {
  background-color: rgb(227, 227, 227);
  color: #304F8C;
  transition-duration: 0s;
}

.dollar-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  margin-bottom: 3rem;
}

.dollar-button {
  font-size: 8rem;
  width: 17rem;
}

.dollar-button.active {
  background-color: #304F8C;
}

/* Mobile Adjustments */
@media (max-width: 480px) {
  p {
    font-size: 2rem;
  }
  .title {
    font-size: 2.5rem;
    padding-left: 0;
  }
  .final-result-prompt {
    font-size: 1.75rem;
    padding-top: 2rem;
  }
  .dollar-button-container {
    gap: 2.5rem;
  }
  .dollar-button {
    font-size: 2rem;
    width: 6rem;
  }
}