body {
  background-color: #308c8c;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: rgb(227, 227, 227);
  padding-top: 2rem;
}

p {
  font-size: 3rem;
  color: rgb(227, 227, 227);
}

button {
  background-color: #BF5471;
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0rem .1rem .3rem black;
  color: rgb(227, 227, 227);
  transition-duration: 0.4s;
  border: none;
}

button:hover {
  background-color: #304F8C;
  box-shadow: 0rem .3rem .9rem black;
}

button:active {
  background-color: rgb(227, 227, 227);
  color: #304F8C;
  transition-duration: 0s;
}
